@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 244 246 250;
    --foreground: 11 18 32;
    --card: 255 255 255;
    --card-foreground: 11 18 32;
    --popover: 255 255 255;
    --popover-foreground: 11 18 32;
    --primary: 8 145 178;
    --primary-foreground: 255 255 255;
    --secondary: 235 238 245;
    --secondary-foreground: 11 18 32;
    --muted: 235 238 245;
    --muted-foreground: 137 146 168;
    --accent: 223 243 248;
    --accent-foreground: 8 145 178;
    --destructive: 194 59 59;
    --destructive-foreground: 255 255 255;
    --border: 220 225 236;
    --input: 220 225 236;
    --ring: 8 145 178;
  }

  .dark:root {
    --background: 8 11 20;
    --foreground: 241 244 252;
    --card: 15 20 32;
    --card-foreground: 241 244 252;
    --popover: 15 20 32;
    --popover-foreground: 241 244 252;
    --primary: 56 214 255;
    --primary-foreground: 4 20 28;
    --secondary: 22 28 44;
    --secondary-foreground: 241 244 252;
    --muted: 22 28 44;
    --muted-foreground: 104 112 138;
    --accent: 14 41 52;
    --accent-foreground: 56 214 255;
    --destructive: 255 107 107;
    --destructive-foreground: 4 20 28;
    --border: 33 42 62;
    --input: 33 42 62;
    --ring: 56 214 255;
  }
}
